* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url(assets/website_bg.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.background_about {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.1)), url(assets/website_bg.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}



.logo {
    width: 150px;
    height: 60px;
    cursor: pointer;
}

/**************************** global navigation bar ****************************/

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: lowercase;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #c5bcff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li:hover:after {
    width: 100%;
}

/**************************** home page ****************************/

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
    overflow: hidden;
}

.mepicture {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.mepictureborder {
    height: 450px;
    width: 500px;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 2;
}

.content h1 {
    font-size: 70px;
    margin-top: 60px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #c5bcff;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #c5bcff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}

button:hover span {
    width: calc(100% + 4px);
}

button:hover {
    border: none;
}

/**************************** about me page ****************************/

.aboutmecontent {
    width: 100%;
    position: absolute;
    top: 470px;
    transform: translateY(-50%);
    text-align: right;
    color: aliceblue;
    overflow: hidden;
}

.aboutmecontent h1 {
    font-size: 70px;
    margin-right: 8%;
}

.aboutmecontent p {
    margin: 30px auto;
    margin-right: 8%;
    font-size: large;
    font-weight: 100;
    line-height: 35px;
    overflow: hidden;
}

.aboutmepics {
    width: auto;
    position: absolute;
    top: 16%;
    left: 5%;
    padding: 50px;
}

.aboutmepic1 {
    height: 350x;
    width: 350px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.aboutmepic2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 125%;
    transform: translate(-50%, -80%);
    z-index: 2;
}

.aboutmepic3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 125%;
    left: 100%;
    transform: translate(-50%, -80%);
    z-index: 3;
}

.aboutmepic4 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 135%;
    left: 45%;
    transform: translate(-50%, -80%);
    z-index: 3;
}

/**************************** projects page ****************************/

.projectscontent {
    width: 100%;
    position: absolute;
    transform: translateY(90%);
    text-align: center;
    color: aliceblue;
}

.projectscontent h1 {
    font-size: 60px;
}

.astrorundescription {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 410px;
    right: 170px;
    color: aliceblue;
}

.astrorundescription h2 {
    font-size: 35px;
}

.astrorundescription p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 30px;
}

.astrorunss {
    height: 30%;
    width: 30%;
    margin-top: 250px;
    margin-left: 170px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.astrorunss:hover {
    border-radius: 5%;
    border: 3px solid #c5bcff;
    margin: 3px;
    width: 31%;
    margin-top: 250px;
    margin-left: 170px;
    padding: 10px;
}

.revbotdescription {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 860px;
    left: 170px;
    color: aliceblue;
}

.revbotdescription h2 {
    font-size: 35px;
}

.revbotdescription p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 35px;
}

.revbotss {
    height: inherit;
    width: 27%;
    border-radius: 3%;
    top: 840px;
    right: 200px;
    cursor: pointer;
    position: absolute;
    transition: 0.3s;
}

.revbotss:hover {
    border-radius: 5%;
    border: 3px solid #c5bcff;
    padding: 14px;
    margin: 3px;
}