* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url(assets/website_bg.jpeg);
    background-size: cover;
    background-position: center;
}

.logo {
    width: 150px;
    height: 60px;
    cursor: pointer;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: lowercase;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #c5bcff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li:hover:after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
}

.mepicture {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.mepictureborder {
    height: 450px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 2;
}

.content h1 {
    font-size: 70px;
    margin-top: 60px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #c5bcff;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
}